* text=auto
*.cpp text eol=lf
*.hpp text eol=lf
*.inl text eol=lf
*.in text eol=lf
*.rc text eol=lf
*.manifest text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
VERSION text eol=lf
*.png binary
*.ico binary
